<div id="events">
  <div class="tools">
    {{view Travis.FilterView}}
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      {{#collection Travis.GroupsList}}
        <a class="title" {{action "toggleEvents" on="click"}}>
          {{view.group.title}} ({{view.count}})
        </a>
        {{#collection Travis.EventsList contentBinding="view.group.events"}}
          <a {{action "showDetails"}} class="message">{{view.message}}</a>
        {{/collection}}
      {{/collection}}

      <div class="span8 details">
        {{#view Travis.EventDetailsView}}
          <strong>{{view.title}}</strong>
          <div class="payload"><pre><code>{{view.payload}}</code></pre></div>
        {{/view}}
      </div>
    </div>
  </div>
</div>
